{{!
	Renders the footer from portlet data (data-portlets.data-footer-*).

	object data-portlets.data-footer-info
	object data-portlets.data-footer-places
	object data-portlets.data-footer-icons
}}
{{! `role` is unnecessary but kept to support selectors in any gadgets or user styles and
	to mitigate a VoiceOver bug. }}
<footer id="footer" class="mw-footer" {{{html-user-language-attributes}}}>
	{{#data-portlets.data-footer-info}}
	<ul id="{{id}}"{{#class}} class="{{.}}"{{/class}}>
		{{#array-items}}
		<li id="{{id}}">{{{html}}}</li>
		{{/array-items}}
	</ul>
	{{/data-portlets.data-footer-info}}
	{{#data-portlets.data-footer-places}}
	<ul id="{{id}}"{{#class}} class="{{.}}"{{/class}}>
		{{#array-items}}
		<li id="{{id}}">{{{html}}}</li>
		{{/array-items}}
	</ul>
	{{/data-portlets.data-footer-places}}
	{{#data-portlets.data-footer-icons}}
	<ul id="{{id}}"{{#class}} class="{{.}}"{{/class}}>
		{{#array-items}}
		<li id="{{id}}">{{{html}}}</li>
		{{/array-items}}
	</ul>
	{{/data-portlets.data-footer-icons}}
</footer>
