<li id="{{id}}" class="{{class}}">{{!
}}{{#array-links}}{{!
	}}{{#data-button}}{{>Button}}{{/data-button}}{{!
	}}{{^data-button}}{{>Link}}{{/data-button}}{{!
}}{{/array-links}}{{!
}}{{text}}{{!
}}</li>
