/**
 * Styling for namespace tabs (page, discussion) and views (read, edit, view history, watch and other actions)
 */

/* Tab list items */
.vector-menu-tabs {
	.vector-menu-content {
		width: 100%;
	}

	.vector-menu-content-list {
		display: flex;
		align-items: center;
		justify-content: end;
	}

	// Expand watchstar and wikilove links it to cover full touch area
	.mw-list-item {
		// Only apply no wrap
		white-space: nowrap;
		margin-bottom: 0; /* overrides default `li` styling */

		// Override button styles in the page toolbar to match the styles of the tabs in the titlebar
		// Except bookmark icon
		.cdx-button:not( .cdx-button--icon-only ) {
			gap: 3px;
			padding: 0 @padding-horizontal-tabs;
			margin-top: 1px;

			@supports ( -moz-appearance: none ) {
				margin-top: 0;
			}

			// Reduce icon size for icon in the page toolbar (i.e. watchstar, wikilove)
			.vector-icon {
				.cdx-mixin-css-icon-background( @size-icon-small );
				.cdx-mixin-css-icon-size( @size-icon-small );
				.cdx-mixin-css-icon-alignment( );

				// Override Codex icon size to make the icon the same height as the text
				/* stylelint-disable-next-line declaration-no-important */
				mask-size: @font-size-small !important;
			}
		}
	}

	/* Tab list item appearance. Applies to <li>'s inside .vector-menu-tabs */
	.mw-list-item.vector-tab-noicon {
		margin: 0 @padding-horizontal-tabs;

		a {
			display: inline-flex;
			position: relative;
			cursor: pointer;
			// Top & bottom padding to increase clickable area.
			padding: @padding-vertical-tabs;
			// bottom margin to overlap border with toolbar border.
			margin-bottom: -1px;
			/* T361841 add invisible bottom border by default */
			border-bottom: 2px @border-style-base @border-color-transparent;
		}

		/* focus and hover have outlines. Text underline interferes with bottom border */
		a:focus,
		a:hover {
			text-decoration: none;
			border-bottom: 2px @border-style-base;
		}
	}

	// T316574 Override visited link styles
	.mw-list-item a {
		.mixin-vector-unvisited-link-base();
	}

	// Override visited red link styles
	.mw-list-item.new a {
		.mixin-vector-unvisited-link-red();
	}

	.mw-list-item.selected a {
		.mixin-vector-selected-link();
		border-bottom: 2px @border-style-base;
	}
}
